{
  "debug": true,
  "server": {
    "address": ":1223"
  },
  "context": {
    "timeout": 2
  },
  "database": {
    "host": "localhost",
    "port": "3306",
    "user": "pointcuan",
    "pass": "pointcuan",
    "name": "pointcuan_db"
  },
  "database-aws": {
    "host": "database-1.cyhujoxbjv4o.us-east-2.rds.amazonaws.com",
    "port": "3306",
    "user": "pointcuan",
    "pass": "pointcuan123",
    "name": "pointcuan_db"
  },
  "jwt": {
    "secret": "",
    "expired": 72
  }
}
